
	body{
		margin:0 25%;
		background-color: WhiteSmoke;	
	}

		#p1{
		width:100%;
		}
		
	table{
		font-size:2em;
		margin:10px 5px;
		padding:5px 5px;
	}
	
	table tr:nth-child(even){background-color:#FFF8D7}
	table tr:nth-child(odd){background-color:#E8E8D0}
	
	.title{
		background-color:f05454;
		width:250px;
		color:white;
	}

	input{
		width:200px;
	}
	
	#price{
		font-size:16;
	}